.inactive {
    display : none;
}

#index form, #ul-menu li {
    text-align: center;
}

#ul-menu {
    display: inline;
}

#ul-menu li {
    display: inline;
    float: left;
}

body {
    padding-left: 1.5em;
}

#index {
    padding-top: 3em;
}

.list-group-item, .btn-primary {
    font-size: larger;
    font-weight: bolder;
}

.second-title {
	margin-top : 70px;
}